numpy==1.26.4
pandas==2.3.1
scikit-learn==1.7.2
biopython==1.85
rdkit==2025.9.1
lifelines==0.30.0
autogluon.tabular==1.1.1
openai==2.2.0
langchain-openai==1.0.1
xgboost==3.0.5
matplotlib
shap

# Non-pip software / model used in the manuscript:
# DeepSeek-R1
# GraphPad Prism v8
# PyMOL v2.1
